[tool.poetry]
name = "wordcel"
version = "0.0.22"
description = "Create text-based features from large language models"
authors = ["Andrew Han <handrew11@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
openai = ">1.0"
anthropic = ">0.25.0" 
google-generativeai = ">=0.6.0"
pandas = "*"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
