[tool.poetry]
name = "wordcel"
version = "0.2.22"
description = "Swiss army-knife for composing LLM outputs"
authors = ["Andrew Han <handrew11@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
openai = ">1.0"
anthropic = ">=0.34.2" 
google-generativeai = ">=0.6.0"
pandas = "*"
scikit-learn = "*"
langchain = ">0.3.0"
networkx = "*"
click = "*"
matplotlib = "*"

[tool.poetry.scripts]
wordcel = "wordcel.cli:main"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
