[tool.poetry]
name = "wordcel"
version = "0.0.3"
description = "Create text-based features from large language models"
authors = ["Andrew Han <handrew11@gmail.com>"]
readme = "README.md"

[tool.poetry.dependencies]
openai = "^0.27.1"
pandas = "*"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
